NEXT_PUBLIC_SUPABASE_URL=https://wiwuatjbilylliinzruq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indpd3VhdGpiaWx5bGxpaW56cnVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwMzg0MDEsImV4cCI6MjEwMDYxNDQwMX0.kfwtdOL9A3PJIpAr5wPtXmWh6PQXvEUk_amnH3cHyz0
